.statusbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}
.final {
    display: flex;
    padding-right: 20px;
}
.statusbar p {
    color: #fff;
    padding-left: 32px;
}